@tailwind base;
@tailwind components;
@tailwind utilities;

.item:first-child {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 0;
}
.item:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

@media screen and (min-width: 640px) {
  .item:first-child {
    border-top-left-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 14px;
  }
  .item:last-child {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 0px;
  }
}
